.App {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  text-align: left;
  min-height: 100vh; /* Make sure the app covers the full height */
  margin: 0; /* Make sure the app covers the full height */

  &-logo {
    height: 40vmin;
    pointer-events: none;
  }

  &-header {
    background-color: #282c34;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;

    &-link {
      color: #61dafb;
    }
  }
}
